project_id = "my-project-123"
region     = "northamerica-northeast1"

sql_user          = "myuser"
sql_database_name = "mydb01"

sql_instance_name           = "sqltest"
deletion_protection_enabled = false

machine_type = "g1-small"
edition      = "ENTERPRISE"
db_version   = "POSTGRES_17"

disk_autoresize_limit = 40
disk_size             = 15

ipv4_enabled          = false
connector_enforcement = "REQUIRED"
authorized_networks = [
  {
    name  = "home"
    value = "123.45.67.89/32"
    expiration_time = "2025-09-01T12:00:00.000Z"
  }
]
